h1 {
    font-family: monospace;
    text-align: center;
    padding: 50px;
}

#btn {
    position: relative;
    top:  50%;
    left: 45%;
    margin: 10px;
    text-align: center;
    font-family: monospace;
    border: 2px solid rgb(8, 0, 0);
}

#container {
   display: grid;
   width: 50%;
   height: 50%;
   margin: auto;
   border: 10px solid #00010e;
}

.default-state{
    background-color: white;
}

.activated {
background-color: blue;
}